@use '../base.scss';
@import '../colors.scss';


.appbar-ctn {
  color: $fg-appbar;
  background-color: $bg-appbar;
  height: 60px;
  align-self: stretch;
  @include base.flex-row;
  flex-direction: row;
  align-items: center;
  user-select: none;

  h3 {
    color: $fg-appbar;
    padding: 10px;
  }
  ul {
    list-style: none;
    li {
      display: inline;
    }
  }

  a {
    text-decoration: none;
    color: $fg-appbar;
    text-align: center;
    padding: 12px 5px;
  }
  a:hover {
    background-color: #555;
  }
}
  
