@use '../base.scss';
@import '../colors.scss';


.main-ctn {
  @include base.flex-center-self;
  @include base.flex-grow-self;
  align-self: stretch;
  text-align: left;
  color: $fg-default;
  margin: 30px;
  padding: 30px;
  overflow: auto;
}

