@mixin flex-center-self {
  align-self: center;
}

@mixin flex-grow-self {
  flex-grow: 1;
}

@mixin flex-row {
  display: flex;
}

@mixin flex-column {
  @include flex-row;
  flex-flow: column nowrap;
}

@mixin flex-column-center-items {
  @include flex-column;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
}
